.changelog
{
  font-size: 0.875rem;
}

.update
{
  margin-bottom: 1rem;

  &:last-of-type
  {
    margin-bottom: 0;
  }

  .version
  {
    font-weight: 500;
  }

  .loglist
  {
    margin: 0;
    padding: 0.5rem 0 0 1rem;
  }
}

@media (max-width: 35.938rem) {}

@media (min-width: 36rem) and (max-width: 47.938rem) {}

@media (min-width: 48rem) and (max-width: 61.938rem) {}

@media (min-width: 62rem) and (max-width: 74.938rem) {}

@media (min-width: 75rem) {}
