.button
{
  background-color: #FE970C;
  border: #FCE4A6 3px solid;
  border-radius: 10px;
  color: #FFFFFF;
  cursor: pointer;
  font-weight: 600;
  padding: 4px 8px;

  &:active
  {
    background-color: #F74101;
  }
}

@media (max-width: 35.938rem) {}

@media (min-width: 36rem) and (max-width: 47.938rem) {}

@media (min-width: 48rem) and (max-width: 61.938rem) {}

@media (min-width: 62rem) and (max-width: 74.938rem) {}

@media (min-width: 75rem) {}
