.headline
{
  color: #525355;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 600;
  padding-bottom: 0.75rem;
  position: relative;

  &:before
  {
    border-bottom: #525355 0.25rem solid;
    bottom: 0;
    content: '';
    left: 25%;
    position: absolute;
    width: 50%;
  }
}
