.user
{
  font-size: 0.875rem;
  padding: 0.625rem;

  .name
  {
    color: #333333;
    font-weight: 500;
    margin-bottom: 0.125rem;
  }

  .status
  {
    align-items: baseline;
    color: #7B7B7B;
    display: flex;

    .dot
    {
      margin-right: 0.25rem;
    }

    .online
    {
      color: #62D936;
      font-size: 0.75rem;
    }

    .away
    {
      color: #FFC146;
      font-size: 0.75rem;
    }
  }
}

@media (max-width: 35.938rem) {}

@media (min-width: 36rem) and (max-width: 47.938rem) {}

@media (min-width: 48rem) and (max-width: 61.938rem) {}

@media (min-width: 62rem) and (max-width: 74.938rem) {}

@media (min-width: 75rem) {}
