.mainmenu
{
  padding-top: 3.75rem;

  .background,
  .content
  {
    height: calc(100vh - 3.75rem);
    position: absolute;
    width: 100%;
  }

  .background
  {
    background-image: linear-gradient(rgba(189, 176, 54, 0.2), rgba(189, 176, 54, 0.2)), url('./../../../assets/images/projects/jigsaw/main-menu.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .content
  {
    align-items: center;
    display: flex;
    height: calc(100vh - 3.75rem);
    justify-content: center;
  }
}

@media (max-width: 35.938rem) {}

@media (min-width: 36rem) and (max-width: 47.938rem) {}

@media (min-width: 48rem) and (max-width: 61.938rem) {}

@media (min-width: 62rem) and (max-width: 74.938rem) {}

@media (min-width: 75rem) {}
