.mainmenu
{
  padding-top: 3.75rem;

  .content
  {
    background-image: url('./../../../assets/images/projects/jigsaw/main-menu.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 3.75rem);
    width: 100%;
  }
}

@media (max-width: 35.938rem) {}

@media (min-width: 36rem) and (max-width: 47.938rem) {}

@media (min-width: 48rem) and (max-width: 61.938rem) {}

@media (min-width: 62rem) and (max-width: 74.938rem) {}

@media (min-width: 75rem) {}
