.sender
{
  background-color: #F8FCFF;
  border-top: #E8E8E8 0.125rem solid;
  display: flex;
  font-size: 0.875rem;

  .message,
  .send
  {
    background-color: transparent;
    border: none;
  }

  .message
  {
    caret-color: #333333;
    color: #333333;
    flex: 1;
    margin-right: 0.625rem;
    padding: 0.625rem 0.625rem 0.625rem 0;
    resize: none;

    &:focus
    {
      outline: none;
    }

    &::placeholder
    {
      color: #A4A2A2;
    }

    &::-webkit-scrollbar
    {
      width: 0.5rem
    }

    &::-webkit-scrollbar-track
    {
      background-color: transparent;
    }

    &::-webkit-scrollbar-thumb
    {
      background-color: #C5C5C5;
    }

    &::-webkit-scrollbar-thumb:hover
    {
      background-color: #A8A8A8;
    }

    &::-webkit-scrollbar-thumb:active
    {
      background-color: #787878;
    }
  }

  .send
  {
    color: #4A98E1;
    padding: 0;

    svg
    {
      cursor: pointer;
      font-size: 1.25rem;
    }

    &:disabled
    {
      color: #BDBDBD;
    }
  }
}

@media (max-width: 35.938rem)
{
  .sender
  {
    padding: 0.25rem 1rem;
  }
}

@media (min-width: 36rem) and (max-width: 47.938rem)
{
  .sender
  {
    padding: 0.375rem 1rem;
  }
}

@media (min-width: 48rem) and (max-width: 61.938rem)
{
  .sender
  {
    padding: 0.5rem 1.25rem;
  }
}

@media (min-width: 62rem) and (max-width: 74.938rem)
{
  .sender
  {
    padding: 0.563rem 1.25rem;
  }
}

@media (min-width: 75rem)
{
  .sender
  {
    padding: 0.625rem 1.25rem;
  }
}
